.login-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100% !important;
  display: flex !important;
  overflow: hidden;
  overflow-y: auto;
  .form-wrap {
    background: rgba(#fff, 0.9);
    border-radius: 1.2rem;
    padding: 4rem 3rem;
    max-width: 50rem;
    margin: auto;
  }
  .bg-image {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.error-label{
  color: red!important;
}