@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
:root {
  --primary: #1e2f8d;
  --secondary: #5bb460;
  --black: #000;
  --white: #fff;
  --text-color: #000;

  --font-family: "Roboto", sans-serif;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,label,a{
  font-family: var(--font-family);
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

// Scrollbar CSS
// html *::-webkit-scrollbar {
//   border-radius: 0;
//   width: 0.5rem;
// }

// html *::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, 0.15);
// }

// html *::-webkit-scrollbar-track {
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
// }

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

.link{
  &:hover,
  &.link-active {
    color: var(--secondary)!important;
    text-stroke: .03rem currentColor;
    -webkit-text-stroke: .03rem currentColor;
    > div{
      color: var(--secondary)!important;
    }
    svg{
      fill: #5bb460;
    }
    .logo-tr{
      color: #fff!important;
    }
  }
}
.h-main{
  height: calc(100vh - 64px);
  padding: 10rem 24px;
  overflow: hidden;
  overflow-y: auto;
}
.has-action-fixed{
  tr{
    th{
      vertical-align: top;
    }
  }
  tr{
    th,td{
      &:last-of-type{
        position: sticky;
        background: #fff;
        z-index: 99;
        right: 0;
        // border-top-width: 1px;
        margin-top: -1px;
      }
    }
  }
}