@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "normalize.css";
@import "@fontsource/roboto";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
:root {
  --primary: #007fff;
  --black: #000;
  --white: #fff;
  --text-color: #000;

  --font-family: "Roboto, sans-serif";

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: overlay;
}

// Scrollbar CSS
// html *::-webkit-scrollbar {
//   border-radius: 0;
//   width: 0.5rem;
// }

// html *::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(0, 0, 0, 0.15);
// }

// html *::-webkit-scrollbar-track {
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
// }

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
